html, body {
	height: 100%;
}

.wrapper {
	width: 100%;
	height: 100%;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #e5e5e5;
}

.content {
	position: relative;
	width:   1366px;
	height:   768px;

	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 1;
	font-weight: 400;
	color: #fff;

	background-image:   url("../img/background.png");
	background-repeat: no-repeat;

}



/* HEADER */

.header {
	display: flex;
	margin: 46px 170px 12px 170px;
	justify-content: space-between;
	align-items: center;
}



.logo {
	display: flex;
	gap: 8px;
}

.logo-texts {
	display: flex;
	flex-direction: column;
	gap: 3px;
}

.logo-img {
	width: 53px;
	height: 47px;
	background: no-repeat url("../img/logo-white.png");
}

.logo-text {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 29px;
}

.logo-text--small {
	font-size: 18px;
}

.address {
	text-align: right;
	line-height: 38px;
}



/* MAIN */

.gallery {
	margin: 0 170px 17px 170px;
	display: grid;
	grid-template: repeat(2,260px) / repeat(3,300px);
	gap: 32px 63px;
}

.gallery-item {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	align-items: end;
	overflow: hidden;
}

.gallery-item:hover .hover-info {
	visibility: visible;
}

.item-img {
	width: 100%;
	height: 220px;
	background-color: magenta;
}
.item-title {
	margin: 0 auto;
}

.img1 { background: no-repeat url("../img/image1.png"); }
.img2 { background: no-repeat url("../img/image2.png"); }
.img3 { background: no-repeat url("../img/image3.png"); }
.img4 { background: no-repeat url("../img/image4.png"); }
.img5 { background: no-repeat url("../img/image5.png"); }
.img6 { background: no-repeat url("../img/image6.png"); }


.hover-info {
	position: absolute;
	bottom: 40px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	width: 300px;
	height: 55px;

	background-color: #F26522;
	color: #fff;
	visibility: hidden;
}

.price {
	position: relative;
	margin-bottom: 12px;
	margin-left: 16px;
	padding-top: 14px;
}
.price::before {
	content: "from";
	position: absolute;
	top: 0;
	font-size: 10px;
	line-height: 1;
}


.call-to-action {
	margin-bottom: 12px;
	margin-right: 12px;
	padding-right: 37px;
}
.call-to-action::after {
	content: url("../img/arrow.svg");
	position: absolute;
	padding: 0 16px;
	/* right: 11px; */
}


/* FOOTER */

.footer {
	position: absolute;
	bottom: 15px;
	width: 100%;
	margin-bottom: 15px;
	font-size: 12px;
	line-height: 1;
	text-align: center;
}



/* MISC */

.link {
	color: #fff;
	text-decoration: none;
}

.link:hover, .link:hover .logo-text {
	color: #F26522;
}

.link:hover .logo-img {
	background: no-repeat url("../img/logo-orange.png");
}